
.Container{
    background-color: green;
	margin-top:15px;
	margin-bottom: 7px;
	border: 10px solid black;
	text-align: center;
	padding-bottom: 80px;
	margin: 36px 0 100px 0;



	
}

.image {
	float: right;
	margin-right: 50px;
	margin-left: 65px;
	

}

.parent-float{
	background-color: yellow;
	width: 1000px;
	float-left;
	margin-left: 400px;
	padding-top: 13px;
	padding-right: 32px;
	padding-left: 26px;
	height: 700px;



}

.float-box-img{
	  width: 200px;
	  float:right;
	  margin-left: 45px;
	  margin-bottom: 36px;
}

.float-box-second-img{
	width: 200px;
	float-left;
	margin-right: 22px;
	margin-bottom: 36px;
}


.float-box-left{
	vertical-align: top;
	float: left;
	width: 500px;



}
	

	
.float-box-right{
    float:right;
    width: 500px;
}



.clear{
	clear:both;
}

