

.parent-float {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 8px;
	font-size: 20px;
}
.section{
	background: green;
	border:2px solid:green;
	margin:16px 40px;
	padding-bottom:80px;
}
.Container{
	margin:36px 100px 0px;
}
.logo{
	float:right;
	margin-right:40px; 
	margin-left:60px;
	width: 10px;
}
.ul{
	float:right;
	margin-top: 25;
}


.lii{

    float:left;
}
.float-box-left{
	background-color:yellow;
	width: 620px;
	float: left;
	margin-left: 70px;
	padding-top: 13px;
	padding-right: 35px;
	padding-left: 29px;
	height: 350px;


}

.float-box-right:{
	background-color: aqua;
	width: 525px;
	float:right;
	margin-right:110px;
	padding-top: 15px;
	padding-left: 30px;
	height: 350px;


}

.fotoleft{
	width: 150px;
	float:right;
	margin-left: 25px;
	margin-bottom: 40px;
}
.clear{
	clear:both;
}

.float-box-secendright{
	width: 150px;
	float: left;
	margin-right;
	margin-bottom: 40px;

}

.text1{
	font-family: sego
}
